# {{PACKAGE_NAME}}

<!-- badges: start -->
{{CRAN_BADGE_BLOCK}}
{{LIFECYCLE_BADGE}}
{{LICENCE_BADGE}}
<!-- badges: end -->

{{ONE_LINE_SUMMARY}}


## Installation

```r
install.packages("{{PACKAGE_NAME}}")

# Or install the development version from GitHub
# install.packages("devtools")
devtools::install_github("{{GITHUB_USERNAME}}/{{PACKAGE_NAME}}")
```


## Why this package?

{{WHY_THIS_PACKAGE}}


## Quick start

```r
library({{PACKAGE_NAME}})

{{QUICK_START_EXAMPLE}}
```


## Functions

{{FUNCTIONS_TABLE}}


## Issues

Report bugs or request features at [GitHub Issues](https://github.com/{{GITHUB_USERNAME}}/{{PACKAGE_NAME}}/issues).


## Keywords

{{KEYWORDS}}
